1.创建一个包含姓名和年龄的DataFrame，数据如下

In [7]:
import pandas as pd
data = {'姓名':['Alice','Bob','Tom','Anger','Lili','Tom'],'年龄':[21,33,21,22,33,22]}
df = pd.DataFrame(data)
df

      姓名  年龄
0  Alice  21
1    Bob  33
2    Tom  21
3  Anger  22
4   Lili  33
5    Tom  22

2.显示创建的DataFrame前2行的数据

In [8]:
df.head(2)

      姓名  年龄
0  Alice  21
1    Bob  33

3.显示创建的DataFrame后3行的数据

In [9]:
df.tail(3)

      姓名  年龄
3  Anger  22
4   Lili  33
5    Tom  22

4.提取出名字相同的"Tom’的行，输出所有的列表头名

In [18]:
condition = df['姓名'] == 'Tom'
df[condition]
#df.loc[condition]

    姓名  年龄
2  Tom  21
5  Tom  22

In [19]:
df.columns

Index(['姓名', '年龄'], dtype='object')

5.修改第二列的名字为'age

In [21]:
#df.columns = ['姓名', 'age']
df.rename(columns={'年龄':'age1'})
df

      姓名  age
0  Alice   21
1    Bob   33
2    Tom   21
3  Anger   22
4   Lili   33
5    Tom   22